[submodule "gateway-microservice"]
	path = gateway-microservice
	url = https://github.com/Nest-Microservices-Lexdeit/gateway-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Lexdeit/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-Lexdeit/orders-microservice.git
